.list-product-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 20px; 
}

.list-product-container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

.product-table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 10%;
}

.product-table thead {
    background: #4ca1af;
    color: white;
}

.product-table th, .product-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    font-weight: bold;
}

.product-table tbody tr:hover {
    background-color: #f1f1f1;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table td img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}
